* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
    color: #DDE6ED;
    /* background-color: thistle; */
}

.dashboard-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

/* HEADER */
.header {
    background-color: #9DB2BF;
    padding: 1rem 2rem;
}

.header-grid {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.icon-header {
    fill: #27374D;
    width: 1.75rem;
    height: 1.75rem;
}

/* HEADER > search-bar */
.search-bar {
    display: flex;
    gap: 1rem;
    align-items: center;
    align-content: center;
    
}

.search-bar > .search-input {
    width: 50%;
    height: 1.5rem;
    border-radius: 1rem;
    border: none;
    padding: 0.9rem;

    color: inherit;
    font-weight: bold;
    background-color: #526D82;
}

.search-input:focus {
    outline: none;
    box-shadow: 0px 2px 5px 1px black;
}

/* HEADER > introduction */
.introduction-grid {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    justify-items: start;

    font-weight: bold;
    font-size: 1.1rem;
}

.introduction-grid img {
    width: 7rem;
    height: auto;
}

/* HEADER > notifications */
.notifications {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1rem;
}

.notifications img {
    width: 5rem;
    height: auto;
}

.notifications a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

/* HEADER > buttons */
.buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 2rem;
}

.buttons button {
    color: inherit;
    background-color: #27374D;
    padding: 1rem 2.5rem;

    cursor: pointer;
    border-radius: 1rem;
    border: none;

    font-weight: bold;
}

.buttons button:hover {
    box-shadow: 0px 2px 5px 1px black;
}

/* SIDEBAR */
.sidebar {
    grid-row: 1/3;

    padding: 1.5rem;
    background-color: #27374D;
}

.sidebar-grid {
    font-weight: bold;
    font-size: 1.2rem;

    width: 100%;
    height: 70%;

    display: grid;
    grid-template-columns: 0.5fr 10fr;
    grid-template-rows: repeat(12, 1fr);
    align-items: center;
    gap: 1rem;
}

.sidebar-grid a {
    color: inherit;
    text-decoration: none;
}

.big-icon {
    fill: white;
    width: 2.5rem;
    height: 2.5rem;
}

.icon-sidebar {
    fill: white;
    width: 1.5rem;
    height: 1.5rem;
    justify-self: center;
}

/* MAIN CONTENT */
.content {
    background-color: #526D82;
    padding: 2rem;
}

.main-grid {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* MAIN > projects */

.projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects h3 {
    font-weight: bold;
    font-size: 1.3rem;
}

.projects-grid {
    width: 100%;
    height: 97%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    padding-right: 1.5rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #9DB2BF;
    border-radius: 0.5rem;
    border-left: 0.5rem solid #27374D;
    padding: 1.5rem 1rem;

    color: #27374D;
}

.icons-card {
    display: flex;
    justify-content: end;
    gap: 1.5rem;
}

.icon-card {
    fill: #27374D;
    width: 1.5rem;
    height: 1.5rem;
}

/* MAIN > announcements-trending */
.announcements-trending {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.announcements, .trending {
    display: flex;
    flex-direction: column;
    gap: 1.15rem;
}

.announcement-card {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
}

.trending-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5rem;

    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
}

.trending-card a {
    text-decoration: none;
    color: inherit;
}

.icon-trending {
    width: 25%;
    height: auto;
}

.user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.announcement-card, .trending-card {
    background-color: #9DB2BF;
    color: #27374D;
}